.container{
    font-family: "Poppins", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    height: 100vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.signin{
    background: #fff;
    padding: 0px 15px;
    display: block;
    height: 50vh;
    width: 25%;
    align-content: center;
}
.login{
    background: #ec1963;
    color: #fff;
    height: 50vh;
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    justify-items: center;
}
.form-group{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}
#inp{
    color: #fff;
    border-style: none;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    padding: 3px;
    color: #000;

}
.form-ele{
    border-top: 3px;
}
.signin-button{
    margin: 0 0 5px 5px;
    background-color:#ec1963;
    border-radius: 13px;
    width: 100%;
    border-style: none;
    padding: 4px;
    color: #fff;
    margin-top: 10px;
}
.signup-btn{
    background-color:#fff;
    border-radius: 13px;
    border-style: none;
    padding: 4px;
    color: #ec1963;
    width: 30%;
}
.remember{
    display: flex;
    justify-content: space-between;
}